.Navbar {
  display: inline-block;
  width: 1000px;
  margin-right: 20%;
}

.Navbar ul {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.Navbar ul li {
  font-family: Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.65rem;
  color: rgb(127, 127, 127);
}
